* {
    padding: 0;
    
}
h1, h3 {
    text-align: center;
}

.first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    display: block;
    margin: 0 auto;
}

.second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
}

.third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
}

.place {
    margin-left: 25%;
}
p {
    text-align: center;
}