.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;

}
.goomba {
    width: 120px;
    position: absolute;
    margin-top: 300px;
    margin-left: 30px;
    z-index: 2;

}
.baloon {
    width: 200px;
    position: absolute;
    z-index: 3;
    margin-left: 490px;

}
.bowser {
    width: 200px;
    position: absolute;
    z-index: 4;
    margin-left: 700px;

}
p {
    position: absolute;
    margin-left: 510px;
    margin-top: 40px;
    z-index: 5;
}