h1 {
    font-family: 'sans-serif';
    text-align: center;
}
#paragrafo {
    font-weight: 600;
    font-size: 3em;
}
body {
    font-size: 16px;
    text-decoration: chartreuse;
}
#cor1 {
    background-color: yellow;
}
#cor2 {
    background-color: red;
}
#cor3 {
    background-color: brown;
}